## Project: Data Wrangling

### Table of Contents

* Gather
* Assess
* Clean
* Visualize

In [1]:
# importing the libraries i will use

import pandas as pd
import requests
import json
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

### Gather

In this section I will gather and load the data I will use.

In [2]:
# reading the twitter-archive file

df_twitter_archive = pd.read_csv('C:/Users/Alex/Desktop/Twitter data-project/twitter-archive-enhanced.csv')

In [3]:
# reading the image-prediction file

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(url)

In [4]:
with open(r'C:/Users/Alex/Desktop/Twitter data-project/image.predictions.tsv', 'wb') as f:
    f.write(r.content)

In [5]:
df_image_predictions = pd.read_csv('C:/Users/Alex/Desktop/Twitter data-project/image.predictions.tsv', sep='\t')

In [21]:
tweet_list= []
with open('C:/Users/Alex/Desktop/Twitter data-project/tweet-json.txt') as json_file:
    for line in json_file:
        data = json.loads(line)
        tweet_id = data['id']
        tweet_dictionary = {
          'tweet_id': data['id'],
          'retweet_count': data['retweet_count'],
          'favorite_count': data['favorite_count'] 
    }
        tweet_list.append(tweet_dictionary)
df_tweets = pd.DataFrame(tweet_list)

### Assess

In this section, I will assess the data to find quality and tidiness issues that I will document below.

In [7]:
df_twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [8]:
df_image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [23]:
df_tweets.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

In [28]:
# the data type of "timestamp" and "retweeted_status_timestamp" are object instead of date type.

df_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [11]:
df_image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [12]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        1 non-null      int64
 1   retweet_count   1 non-null      int64
 2   favorite_count  1 non-null      int64
dtypes: int64(3)
memory usage: 152.0 bytes

In [13]:
df_twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [14]:
df_image_predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [15]:
df_tweets.describe()

           tweet_id  retweet_count  favorite_count
count  1.000000e+00            1.0             1.0
mean   6.660209e+17          532.0          2535.0
std             NaN            NaN             NaN
min    6.660209e+17          532.0          2535.0
25%    6.660209e+17          532.0          2535.0
50%    6.660209e+17          532.0          2535.0
75%    6.660209e+17          532.0          2535.0
max    6.660209e+17          532.0          2535.0

In [40]:
# the numerator in the tweet is "13.5", but in the "rating_numerator"-column it is "5"

df_twitter_archive["text"].iloc[45]

'This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948'

In [41]:
df_twitter_archive["rating_numerator"].iloc[45]

5

In [48]:
# some values in "rating_denominator" are not "10"

values_not_ten = [x for x in df_twitter_archive["rating_denominator"] if x != 10]
print(values_not_ten)

[0, 15, 70, 7, 11, 150, 11, 170, 20, 50, 90, 80, 50, 50, 40, 20, 130, 110, 11, 16, 120, 80, 2]

In [50]:
# first letter for some values in "name" start with a lower case letter, which does not seem to be a name

first_letter_lower = [x for x in df_twitter_archive["name"] if x == x.lower()]
print(first_letter_lower)

['such', 'a', 'quite', 'quite', 'quite', 'not', 'one', 'incredibly', 'a', 'mad', 'an', 'very', 'a', 'very', 'just', 'my', 'one', 'not', 'his', 'one', 'a', 'a', 'a', 'an', 'very', 'actually', 'a', 'just', 'getting', 'mad', 'very', 'this', 'unacceptable', 'all', 'a', 'old', 'a', 'infuriating', 'a', 'a', 'a', 'an', 'a', 'a', 'very', 'getting', 'just', 'a', 'the', 'the', 'actually', 'by', 'a', 'officially', 'a', 'the', 'the', 'a', 'a', 'a', 'a', 'life', 'a', 'one', 'a', 'a', 'a', 'light', 'just', 'space', 'a', 'the', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'an', 'a', 'the', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'quite', 'a', 'an', 'a', 'an', 'the', 'the', 'a', 'a', 'an', 'a', 'a', 'a', 'a']

In [20]:
# the values that are not NaN are retweets

retweets = [x for x in df_twitter_archive["retweeted_status_id"] if np.isnan(x) == False]
print(retweets)

[8.874739571039519e+17, 8.860537344211026e+17, 8.305833205850685e+17, 8.780576130401157e+17, 8.782815110064783e+17, 6.690003974455337e+17, 8.76850772322988e+17, 8.663349647612027e+17, 8.688803978194944e+17, 8.732137756329779e+17, 8.726575842595512e+17, 8.41077006473257e+17, 8.591969789027738e+17, 8.685522785248379e+17, 8.650134204453683e+17, 8.664507055314575e+17, 8.378201676945285e+17, 8.630624715311677e+17, 8.06629075125203e+17, 8.605637731402097e+17, 8.609144852504699e+17, 7.616729943768064e+17, 8.395493263596708e+17, 8.57061112319234e+17, 8.44704788403114e+17, 8.563301587682181e+17, 8.421635325903749e+17, 8.551225332674601e+17, 8.316500515250545e+17, 8.29374341691347e+17, 8.482893821761004e+17, 8.331246945974436e+17, 8.323698773316936e+17, 8.47971000004354e+17, 7.562885340304753e+17, 7.733088242540298e+17, 8.071068405092147e+17, 8.174238601360835e+17, 8.406323370628628e+17, 6.671521640794235e+17, 8.392899192982241e+17, 8.3890598062882e+17, 7.838399664052306e+17, 8.207497168456868e+17, 8.370113446668124e+17, 8.366481490034852e+17, 8.178278394877379e+17, 7.869630643735347e+17, 8.35264098648617e+17, 7.530398308215112e+17, 8.295019951909847e+17, 8.324343582922097e+17, 8.327663821985669e+17, 7.867090828498289e+17, 7.932864763017994e+17, 7.69940425801171e+17, 8.09220051211604e+17, 8.269586533285929e+17, 8.102541084311552e+17, 6.946697223784858e+17, 8.099207643004477e+17, 8.250265907194839e+17, 7.950767302853919e+17, 7.840579396403528e+17, 8.222448165201551e+17, 8.224890570873897e+17, 7.862339652418273e+17, 7.806013036177326e+17, 7.82305867769217e+17, 8.192276884602388e+17, 8.203146337770619e+17, 8.001414224018309e+17, 8.199522364533637e+17, 8.190048031079834e+17, 8.19006400881918e+17, 8.083448658682839e+17, 7.735475969965711e+17, 8.164505708148982e+17, 6.924173130233324e+17, 8.159660734094336e+17, 7.90946055508652e+17, 8.159907208174019e+17, 7.320056171713372e+17, 7.914069556843684e+17, 6.981954092195594e+17, 7.902771173469757e+17, 6.800554559518843e+17, 7.93962221541933e+17, 8.01167903437357e+17, 7.829691400091075e+17, 7.815246933963571e+17, 7.833346399853896e+17, 7.827225987907256e+17, 7.841831657956557e+17, 7.848260202937098e+17, 6.914168664520827e+17, 7.677549302664643e+17, 7.776842335402066e+17, 7.790560957887529e+17, 8.000650281163858e+17, 7.75733305207554e+17, 8.008540229702861e+17, 7.761133056561889e+17, 6.816940855398728e+17, 7.750851326004429e+17, 7.74314403806253e+17, 7.406769760217989e+17, 7.18631497683583e+17, 7.128090259859784e+17, 7.012147008817562e+17, 6.833918525575619e+17, 6.769365419361853e+17, 6.755010759574897e+17, 6.718968093007094e+17, 6.704449556561306e+17, 6.67509364010451e+17, 6.671827920700621e+17, 6.661041332886651e+17, 7.717704565170094e+17, 6.8731730631424e+17, 7.809316141509837e+17, 7.961497490868756e+17, 7.895308770133934e+17, 7.887659149929021e+17, 7.916723228476375e+17, 6.848309826592809e+17, 6.820880793022136e+17, 7.467577061161124e+17, 7.638375655647805e+17, 7.899864660510884e+17, 7.626998581301166e+17, 7.624645393884856e+17, 7.507196325631427e+17, 7.36392552031658e+17, 7.610045478505308e+17, 7.529324327441859e+17, 7.594476815971082e+17, 7.798343325968876e+17, 6.742918370630533e+17, 7.076109487234785e+17, 7.424231704734638e+17, 7.804657092979958e+17, 7.533756688770089e+17, 6.794628231356867e+17, 7.580996357643592e+17, 7.030419496500347e+17, 7.681934045178307e+17, 7.50429297815552e+17, 6.798284471878574e+17, 7.007477885150208e+17, 7.33109485275861e+17, 7.40373189193257e+17, 7.713807980962816e+17, 7.652220986336911e+17, 6.733201328113664e+17, 7.710021304507433e+17, 7.392381577916948e+17, 7.410673068187976e+17, 7.069045238146499e+17, 7.001437520531825e+17, 7.399791916392448e+17, 7.599237987370516e+17, 7.258422890467492e+17, 6.732952685536051e+17, 6.853251128501248e+17, 7.116947884295537e+17, 7.601538332596019e+17, 7.395440793195889e+17, 6.703191306214359e+17, 6.790626142704681e+17, 7.575971410995487e+17, 6.791583739888763e+17, 6.815231776636764e+17, 6.835159323633295e+17, 6.75354435921576e+17, 7.047611207714652e+17, 6.678667242938778e+17, 6.671382696715059e+17, 7.119982797733478e+17, 6.675486956640707e+17, 6.67548415174144e+17]

In [33]:
# rows with "None" can be changed to "NaN". Maybe it is not necessary?

rows_with_none = [x for x in df_twitter_archive["name"] if x == "None"]
print(rows_with_none)

['None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None']

#### Quality 
##### `twitter archive` table

* "timestamp" and "retweeted_status_timestamp data type is object and not datetype
* Missing values in "id"-columns. Replace with NaN?
* "rating_denominator" has some values that are not "10"
* There are dog names with first letter in lowercase that are not names
* "None" in "name"-column, which can be changed to "NaN"
* Some rows in "id"-columns are retweets and can be dropped
* The ratings in the tweets sometimes do not correspond to the ratings in "rating_denominator" and "rating_numerator". For example, the rating for row 46 is 13.5/10, but it says 5 in the column "rating_denominator".
* The data type for the id-columns are either "int" or "float". Can be changed to "string".
* Trailing and leading whitespaces in some rows
* "expanded_url" sometimes has two url-adresses in the same column and the adresses does not seem to work

##### `image predictions` table

#### Tidiness
##### `twitter archive` table

* The columns: "doggo", "floofer", "pupper", "puppo" can be merged into one column
* Rating numerator and denominator could be in one column

##### `image prediction` table

* Naming columns like p1, p2 and p3 does not tell us much. 
*

### Clean

I will clean and filter the data to make it ready for further analysis and visualizations

In [ ]:
df_twitter_archive_clean = df_twitter_archive.copy()
df_image_predictions_clean = df_image_predictions.copy()
df_tweets_clean = df_tweets.copy()

In [ ]:
# converting "timestamp" and "retweeted_status_timestamp" from string to datetime

df_twitter_archive_clean['timestamp'] = pd.to_datetime(df_twitter_archive_clean['timestamp'])
df_twitter_archive_clean['retweeted_status_timestamp'] = pd.to_datetime(df_twitter_archive_clean['retweeted_status_timestamp'])

In [ ]:
# filling missing values with NaN. Not necessary

In [ ]:
# replacing the values that start with a lower case letter with NaN

for value in df_twitter_archive_clean['name']:
    if value == value.lower():
        df_twitter_archive_clean['name'].replace(value, np.nan, inplace=True)

In [ ]:
# changing None to NaN in "name"-column

df_twitter_archive_clean['name'].replace('None', np.nan, inplace=True)

In [ ]:
# dropping rows that are retweets and only keeping rows that are NaN

df_twitter_archive_clean['retweeted_status_id'] = df_twitter_archive_clean[df_twitter_archive_clean['retweeted_status_id'].isnull() == True ]

In [ ]:
# replacing incorrect rating values with the correct ones from the tweets

rating = df_twitter_archive_clean.text.str.extract('((?:\d+\.)?\d+)\/(\d+)', expand=True)
rating.columns = ['rating_numerator', 'rating_denominator']

In [ ]:
df_twitter_archive_clean['in_reply_to_status_id'] = df_twitter_archive_clean['in_reply_to_status_id'].astype(str)
df_twitter_archive_clean['in_reply_to_user_id'] = df_twitter_archive_clean['in_reply_to_user_id'].astype(str)
df_twitter_archive_clean['retweeted_status_id'] = df_twitter_archive_clean['retweeted_status_id'].astype(str)
df_twitter_archive_clean['retweeted_status_user_id'] = df_twitter_archive_clean['retweeted_status_user_id'].astype(str)

In [55]:
rating = df_twitter_archive.text.str.extract('((?:\d+\.)?\d+)\/(\d+)', expand=True)
rating.columns = ['rating_numerator', 'rating_denominator']

# Does not work. Fix it!

# BOrde fungera

In [56]:
df_twitter_archive["rating_numerator"].iloc[45]

5

### Test

### Questions to analyze and visualize:
* What dog breeds has the highest rating per month?
* What dog breeds has the highest probability of being correct?
* What are the highest likes and retweets?
* What are common dog names?

## code i might use

In [139]:
# Visualiserar de vanligaste namnen

# name_count = df_twitter_archive['name'].value_counts() 
    
# df_twitter_archive['name'].value_counts(sort=True)[2:20].plot.bar()

In [ ]:
# # handle none
# df_clean.doggo.replace('None', '', inplace=True)
# df_clean.floofer.replace('None', '', inplace=True)
# df_clean.pupper.replace('None', '', inplace=True)
# df_clean.puppo.replace('None', '', inplace=True)
# # merge into column
# df_clean['dog_stage'] = df_clean.doggo + df_clean.floofer + df_clean.pupper + df_clean.puppo
# # handle multiple stages
# df_clean.loc[df_clean.dog_stage == 'doggopupper', 'dog_stage'] = 'doggo, pupper'
# df_clean.loc[df_clean.dog_stage == 'doggopuppo', 'dog_stage'] = 'doggo, puppo'
# df_clean.loc[df_clean.dog_stage == 'doggofloofer', 'dog_stage'] = 'doggo, floofer'
# # handle missing values
# df_clean.loc[df_clean.dog_stage == '', 'dog_stage'] = np.nan

In [ ]:
# converting "timestamp" from string to datetime

# df_twitter_archive['timestamp'] = pd.to_datetime(df_twitter_archive['timestamp'])

In [ ]:
# Hr har jag bytt ut alla siffror som inte r 10 mot 10

# for value in df_twitter_archive['rating_denominator']:
#     if value != 10:
#         df_twitter_archive['rating_denominator'].replace(value, 10, inplace=True)

In [ ]:
# list_with_not_10 = []

# for value in df_twitter_archive['rating_denominator']:
#     if value != 10:
#         list_with_not_10.append(value)

# print(list_with_not_10)

In [ ]:
#Hr har jag bytt ut alla namn med bara sm bokstver till None. Eller ska jag byta ut till Np.nan istllet?

# for value in df_twitter_archive['name']:
#     if value == value.lower():
#         df_twitter_archive['name'].replace(value, np.nan, inplace=True)

In [ ]:
# lower = []
# for value in df_twitter_archive['name']:
#     if value == value.lower():
#         lower.append(value)

# print(lower)

In [ ]:
# df_twitter_archive['retweeted_status_id'] = df_twitter_archive['retweeted_status_id'].astype(str)


# lst = []

# for value in df_twitter_archive['retweeted_status_id']:
#     if len(value) > 3:
#         value.drop()

# Behller raderna som inte r retweets

# df_twitter_archive = df_twitter_archive[df_twitter_archive['retweeted_status_id'].isnull() == True ]

In [ ]:
# Byter ut None mot NaN s jag kan filtrera namn-kolumnen senare.
# df_1_clean.name.replace('None', np.nan, inplace=True)

In [ ]:
# Code to merge the dataframes

# df_twitter_archive.merge(df_image_predictions,on='tweet_id').merge(df_tweets,on='tweet_id')